.mce-branding,
.mce-notification-warning.mce-has-close,
.mce-notification-inner {display:none!important;}

/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #F4F5FA;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background:#343a40;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #343a40;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #868e96;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #212529;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

a.article, a.article:hover {
    background: #212529 !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #343a40;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #9d9d9d;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

@media (min-width: 1200px) {
    .container {
        width:1070px;
    }
}

.no-icon-top::before{
    content: none !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background: #343a40;
}
#no-nav-content {
    padding: 20px;
}

.done {
    opacity: 0.3;
    text-decoration: line-through;
}

.form-signin {
    max-width: 490px;
    padding: 110px 70px 70px;
    background-color: #fff;
    min-height: 100vh;
}
.form-signin .sub{
    margin-top:40px;
}
.form-register {
    max-width: 800px !important;
}
.form-signin .small{
    text-align: center;
    color:#888;
    margin-top: 20px;
}
.form-signin.slidein{
    opacity:1;
    margin: 8% auto 0;

}
@-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  
  @-webkit-keyframes fadeInLeftBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
      transform: translate3d(-2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInLeftBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
      transform: translate3d(-2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }  

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.login-title {
    text-align: center;
    padding: 15px;
    margin: -25px -30px 15px;
    font-weight: 700;
}
body {
    background:#f9f9f9;
}

.home-zone {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    background: white;
    text-align: center;
    margin-right: 17%;
    margin-top: 40px;
}
.small-card {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    display: inline-block;
    width: 35%;
    margin-right: 40px;
    margin-top:20px;
    height: 150px;
    background:white;
}
.graph-full {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    margin-right: 25%;
    margin-top: 30px;
}

.card-half{
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    display: inline-block;
    width: 40%;
    margin-right: 30px;
    margin-top:20px;
    height: 150px;
    background:white;
}

.chat-window{
    text-align: left;
}
.chat-left {
    border-right: 1px solid #E4E7ED;
    z-index: 999;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    height: 400px;
    overflow-y: scroll;
}
.chat-right {
    display: inline-block;
    width: 65%;
    vertical-align: top;
}
.iframe {
    width: 100%;
    height: 100%;
    min-height: 400px;
}
.media-list .media {
    padding: 1.5rem;
    margin-top:0;
}
.profile-picture {
    width: 40px;
    height: 40px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.img-block{
    display: inline-block;
    vertical-align: top;
}
.last-message {
    text-align: left;
    display: inline-block;
    margin-left:10px;
    vertical-align: top;
    margin-top:0;
}
.list-group-item-heading {
    text-align: left;
    display: inline-block;
    margin-left:15px;
    margin-top:5px;
    width: 30%;
    vertical-align: top;
}
.block-user{
    padding: 1rem;
    background: white;
}
.msg-time {
    display: inline-block;
    text-align: right;
    width: 30%;
    vertical-align: top;
    margin-top: 0;
    margin-left:30px;
}
.user-msg {
    display: inline-block;
    width: 60%;
}

.hr {
    margin: 0;
    border-top: 1px solid grey;
}

.user-left {
    text-align:left;
    margin-left: 10px;
}


.user-right {
    text-align:right;
    margin-right: 10px;
}

.img-with-text {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.main-chat-text {
    display: inline-block;
    vertical-align: top;
}


.message-right {
    text-align: left;
    display: block;
    padding: 6px 15px;
    margin: 0 20px 10px 0;
    clear: both;
    color: #fff;
    background-color: #1E9FF2;
    border-radius: 4px;
    position: relative;
    margin-top: 5px;
}
.message-right::before {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    border-left-color: #1E9FF2;
}

.message-left {
    text-align: left;
    display: block;
    padding: 6px 15px;
    margin: 0 20px 10px 0;
    clear: both;
    color: #fff;
    background-color: #1E9FF2;
    border-radius: 4px;
    position: relative;
    text-align: left;
    margin: 0 0 10px 20px;
    margin-top: 5px;
    color: #6B6F82;
    background-color: #edeef0;
}
.message-left::before {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    border-left-color: #1E9FF2;
    right: auto;
    left: -10px;
    border-right-color: #edeef0;
    border-left-color: transparent;
}
.chat-composer {
    padding: 20px 10px;
    background-color: #edeef0
}
.filter-date{
    display: inline-block;
    margin-left:20px;
 
}
.btn-grup {
    display: inline-block;
    margin-right:20px;
}
.users-table{
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    background: white;
}
table td,
table th {
    border: 1px solid #E3EBF3;
    padding: .75rem 2rem;
}
.blue-table {
    color: #1E9FF2;
}
.pop-rep {
    padding: .75rem 2rem; 
}

.pop-rep:hover {
    background: #9d9d9d;
    cursor: pointer;
}
.webui-popover-content {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.glyphicon-info-sign {
    cursor: pointer;
}

.task-table-text {
    font-size:16px;
    margin-left: 40px;
    margin-right: 40px;
}
.form-card {
    background-color: #FFF;
    box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
    color:#6B6F82;
    padding: 30px;
    margin: 30px;
}
.form-card-2 {
    background-color: #FFF;
    box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
    color:#6B6F82;
    padding: 30px;
    margin: 30px;
    flex: 1;
    width: 40%;
    vertical-align: top;
}

.row-flex {
    display: flex; /* equal height of the children */
  }
@media only screen and (min-width: 750px) {
    .col-md-3 {
        text-align: right;
}
}
.col-md-9 {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #CACFE7;
    color: #3B4781
}